/* :host {
    --border-radius: 9px;
} */

/* .bk-input-group {
    font-family: 'Ubuntu', sans-serif;
} */
.bk-input {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--light-outline-color);
    color: var(--white);
}
.bk-input:focus {
    border-color: var(--tertiary-accent-color);
}
 
.bk-input::placeholder {
    color: var(--light-outline-color);
}

select[multiple].bk-input, select[size].bk-input, textarea.bk-input {
    font-size: var(--bokeh-font-size);
}