:host {
    --surface-color: var(--primary-accent-color);
    --surface-text-color: var(--white);
}

.bk-btn {
    font-size: 20px;
}

.bk-btn.bk-btn-default {
    padding: 6px 3px 6px 3px
}

.bk-btn:hover {
    background-color: var(--primary-accent-color);
    color: var(--primary-background-color);
}
