input[type="file"] {
    width: 100%;
    height: 38px; /* Adjust as needed */
    padding: 0;
    margin: 0;
    background: transparent;
    color: transparent;
    border: none;
    overflow: hidden;
  }
  
  input[type="file"]::before {
    content: 'Click to Add FIles';
    display: block;
    width: 100%;
    height: 100%;
    background: var(--primary-accent-color);
    color: var(--white);
    text-align: center;
    line-height: 38px;
    font-size: 1.4em;
    border-radius: var(--border-radius);
    cursor: pointer;
    white-space: nowrap;
  }
  
  input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  :host {
    margin: 0;
  }