:host {
    line-height: var(--line-height);
    flex: 0 1 auto; /* Used to fix row's padding being ignored */
    padding-top: 4px;
}

:host p {
    font-size: .85em;
    margin-top: 0;
    margin-bottom: 0;
}