:host {
    line-height: var(--line-height);
    flex: 0 1 auto; /* Used to fix row's padding being ignored */
    margin-right: 5px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-accent-color) transparent;
}

:host p {
    margin-top: 0;
    margin-bottom: 0;
}