.card-button {
    color: var(--secondary-accent-color);
}

.card-button > svg {
    width: 18px;
    height: 18px;
}

.card-header {
    padding-left: 0px;
}

:host(.card) {
    width: 86%;
    flex: 0 0 auto;
    align-self: center;
    margin: 5px auto;
    max-height: fit-content;
    /* overflow: auto; */
    /* flex: 0 0 auto; */
    /* height: auto;
    box-sizing: border-box;
    margin-bottom: 15px; */
}

