/*-- scss:defaults --*/
$primary-background-color: #0C1314;  // Primary background color
$secondary-background-color: #162030;
$light-outline-color: #455368;        // Light outline color
$primary-accent-color: #D33A4B;       // Primary accent color
$secondary-accent-color: #EDB737;     // Secondary accent color
$tertiary-accent-color: #12B86C;      // Tertiary accent color
$white: #F4F6F8;
$lesser-white: hsl(210, 22%, 73%);                       // White color
$black: #353839;                       // Black color
$faded-text-color: #6083B8;           
$mainfont: 'Hanken Grotesk';
$decofont: 'Ubuntu';

/*-- bootstrap overrides --*/
$body-bg: $primary-background-color;
$body-color: $white;
$bs-link-color: $primary-accent-color;
$link-color: $primary-accent-color;
$link-hover-color: $secondary-accent-color;
$fontcolor: $white;
$navbar-fg: $white;
$breadcrumb-bg: $secondary-background-color;
$breadcrumb-active-color: $lesser-white;
$code-background-color: rgba(52, 58, 64, .65);
$table-accent-bg: None;
$callout-color-tip: $tertiary-accent-color;

/*-- Mermaid styling --*/
$mermaid-bg-color: $primary-background-color;
// $mermaid-fg-color: $white;
$mermaid-fg-color--lighter: $light-outline-color;
$mermaid-fg-color--lightest: $secondary-background-color;
$mermaid-edge-color: $white;
$mermaid-label-fg-color: $white;
$mermaid-label-bg-color: $primary-background-color !global;
$mermaid-font-family: $mainfont;
$mermaid-node-bg-color: $primary-background-color;
$mermaid-node-fg-color: $light-outline-color;

.edgeLabel p {
  background-color: $mermaid-label-bg-color !important;
}

.View > rect {
  stroke: $light-outline-color !important;
  fill: $light-outline-color !important;
}
.InputPort > rect {
  stroke: $primary-accent-color !important;
}
.OutputPort > rect {
  stroke: $tertiary-accent-color !important;
}
.Model > rect {
  fill: $primary-accent-color !important;
}
.cluster-label {
  font-weight: bold;
}


/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar {
  background-color: $secondary-background-color;
  font-family: $decofont;
  font-weight: 500;

  // Change the color of spans to the primary accent color on hover
  span:hover {
    color: $primary-accent-color;
  }
}

.navbar-logo {
  max-height: 38px;
}

ol.breadcrumb {
  background-color: $primary-background-color;
  border-radius: 25px; // Set border radius for the breadcrumb
  border: 1px solid $light-outline-color; // Set border width and color for the breadcrumb

  // Assign a color to all breadcrumb items except the last one
  .breadcrumb-item {
    a {
      color: $lesser-white; // Color for preceding items
    }
  }

  // Assign a different color to the last breadcrumb item
  .breadcrumb-item:last-child {
    a {
      color: $primary-accent-color; // Color for the last item
    }
  }
}

/*-- sidebar font color --*/
#quarto-sidebar .sidebar-item-container {
  color: $lesser-white;
  
  // Change text color to yellow on hover
  &:hover {
    color: $secondary-accent-color; // Use the yellow color for hover effect
  }
} 

#quarto-sidebar .sidebar-item-container .active {
  color: $primary-accent-color;
  border-left: 3px solid $primary-accent-color; // Combined border properties for brevity
  padding-left: 5px;
  } 
.sidebar-section {
  padding-left: 2.3em
}

.sidebar nav[role="doc-toc"] ul > li > a {
  color: $lesser-white;
  
  &:hover {
      color: $secondary-accent-color !important;
  }
  
  &.active {
      color: $primary-accent-color;
  }
}

.navbar {
  border-bottom: 1px solid $light-outline-color;
}

#quarto-search .aa-Form {
  background-color: $white;
}

button.code-copy-button {
  color: $secondary-accent-color;
}

code:not(.sourceCode),
p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  color: $primary-accent-color;
  background-color: $code-background-color;
}

code.sourceCode .code-annotation-anchor {
  color: $secondary-accent-color;
  font-weight: bold;
  font-size: .91em;
  // border-color: $secondary-accent-color;
}

dl.code-annotation-container-grid {
  dt {
    color: $secondary-accent-color;
    &[data-target-cell].code-annotation-active {
      color: $primary-background-color;
      border: solid #aaa 1px;
      background-color: $secondary-accent-color;
    }
  }
}

table {
  background-color: $secondary-background-color;
  font-size: 14px;

  .header {
    border-bottom: 1px solid $secondary-accent-color;
  }
}

h1, h2 {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 8px; /* Set the height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: $primary-accent-color; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: $primary-background-color; /* Background color of the scrollbar track */
}

// Tabset
.panel-tabset .nav-tabs {
  .nav-link {
    color: $secondary-accent-color; // Default color for nav links

    &.active {
      color: $primary-accent-color; // Color for the active nav link
    }
  }
}

// Custom
.tab {
  display: block; // Automatic linebreak when using spans!!
  margin-left: 17px;

  td & {
    margin-bottom: -1.2em; // Apply margin-bottom only when .tab is inside a td element
    &:last-child {
      margin-bottom: 0; // Remove margin-bottom if it's the last item in the last cell row
    }
  }
}