:host {
    line-height: 1.3
}

:host p {
    margin: 3px;
}

.chunk_header {
    color: var(--secondary-accent-color);
    font-weight: 200;
    font-size: 0.77em;
}

.content_text, .source_text {
    font-size: .8em;
}
