:host {
    line-height: 1.3;
    width: calc(100% - 55px);
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0;
}

:host p {
    margin: 3px 0;
}

.chunk_header {
    color: var(--secondary-accent-color);
    font-weight: 200;
    font-size: 0.77em;
}

.content_text, .source_text {
    font-size: .8em;
}
